# Dependencies
node_modules/
vendor/

# Environment
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Backend
backend/vendor/
backend/writable/

# Frontend
frontend/node_modules/

# Env files
backend/.env
frontend/.env